<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blood on the Clocktower corner-cases</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- import the webpage's stylesheet -->
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<header>
			<img src="logo.png" alt="Blood on the Clocktower" />
			<h1>but what if</h1>
		</header>

		<main>
			<form>
				<input type="text" name="query" placeholder="slayer, reclue, storyteller" aria-labelledby="submit" />
				<input type="submit" id="submit" value="‽" />
			</form>

			<section id="cases">
			</section>
		</main>
		<script src="client.js"></script>
	</body>
</html>
